<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Form</title>
</head>
<body>
    <div class="container">
        <form action="/users" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" class="form-control" name="name" type="text">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input id="age" class="form-control" name="age" type="number">
            </div>
            <button type="submit">Submit</button>
        </form>
        
        <% for(let user of users) { %>
            <p>Name: <%= user.name %>, Age: <%= user.age %></p>
        <% } %>
    </div>
</body>
</html>