<h2>Quote Ranks</h2>
<h3 *ngIf="!author">Loading..</h3>
<div *ngIf="author">
  <a routerLink="/">Home</a>
  <a [routerLink]="['/','quote', author._id]" class="ml-4">Add a quote</a>
  
  <p>Quotes by {{author.name}}: </p>
  <table class="table table-light table-striped">
    <thead class="thead-light">
      <tr>
        <th>Quote</th>
        <th>Votes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of author.quotes">
        <td>{{quote.quote}}</td>
        <td>{{quote.votes}}</td>
        <td>
          <button class="btn btn-success" (click)="vote(quote._id, 'up')">vote up</button>
          <button class="btn btn-warning" (click)="vote(quote._id, 'down')">vote down</button>
          <button class="btn btn-danger" (click)="deleteQuote(quote._id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


