<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <form action="/task/<%= doc._id %>" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" class="form-control" name="title" type="text" value="<%= doc.title %>">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" type="text"><%= doc.description %></textarea>
            </div>
            <div class="form-group">
                <label for="completed">Completed:</label>
                <label for="true">True</label>
                <input type="radio" class="" name="completed" id="true" value="true">
                <label for="false">False</label>
                <input type="radio" class="" name="completed" id="false" value="false" checked>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>