<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">

    <title>Swapi</title>
</head>
<body>
    <h1 class="p-3 bg-dark text-white text-center">StarWars Wiki</h1>
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <button data-url='/people' class="links btn btn-danger d-inline-block ml-auto">People</button>
            </div>
            <div class="col">
                <button data-url='/planets' class="links btn btn-danger">Planets</button>
            </div>
        </div>
        <hr class="my-4">
        
        <div id='display-info'class="container pt-3 bg-light"></div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
    const htmlLinks = `<div id="page-links" class="row"><p data-url='/prev' class='text-primary ml-3'> Previous</p> <p data-url='/all' class="text-primary mx-auto"> All</p> <p data-url='/next' class="text-primary mr-3 mb-3">Next</p></div>`;

    $('button.links').click(function(e){
        const currentUrl = e.target.dataset.url;
        $.getJSON(currentUrl, data => {
            let htmlString = ``;
            data.results.forEach(el => {
                htmlString += `<p>${el.name}</p>`
            });
            htmlString += htmlLinks
            $('#display-info').html(htmlString);
        });
    });
    $('#display-info').on('click','p',function(ele) {
        const currentUrl = ele.target.dataset.url;
        if (currentUrl === '/all') {
            $.getJSON(currentUrl, data => {
                $('#page-links').slideUp(1000);
                let htmlString = ``;
                data.results.forEach(el => {
                    htmlString += `<p>${el.name}</p>`
                });
                $('#display-info').append(htmlString);
            });
            return
        }
        console.log('passed if')
        displayInfo(currentUrl);
    })

    function displayInfo (url) {
        $.getJSON(url, data => {
            let htmlString = ``;
            data.results.forEach(el => {
                htmlString += `<p>${el.name}</p>`
            });
            htmlString += htmlLinks
            $('#display-info').html(htmlString);
        });
    }
</script>
</body>
</html>