<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">

    <title>Swapi</title>
</head>
<body>
    <h1 class="p-3 bg-dark text-white text-center">StarWars Wiki</h1>
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <button href="/people" id="people" class="btn btn-danger d-inline-block ml-auto">People</button>
            </div>
            <div class="col">
                <button href="/planets" id="planets" class="btn btn-danger">Planets</button>
            </div>
        </div>
        <hr class="my-4">
        <div id='display-info'class="container bg-light"></div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
    $('#people').click(function(){
        $.getJSON('/people',data => {
            console.log(data);
            data.results.forEach(el => {
                $('#display-info').append(`<p>${el}</p>`)
            })
            
        })
    })
</script>
</body>
</html>