<div class="container text-center">
  <h1>Task api</h1>
  <h2>All the Tasks:</h2>

  <app-task *ngIf="oneTask" [showTask]="oneTask"></app-task>

  <table *ngIf="allTasks" class="table table-light table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Completed</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of allTasks">
        <td>{{task.title}}</td>
        <td>{{task.complete}}</td>
        <td>
          <button class="mr-2" (click)="getOneTaskFromService(task._id)" class="btn btn-sm btn-warning">Edit</button>
          <button (click)="deleteTask(task._id)" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <h2>Create New Task</h2>
      <form class="text-left" (submit)="onSubmitCreate()">
        <label for="newTask.title">Title</label>
        <input type="text" class="form-control" name="newTask.title" [(ngModel)]="newTask.title">

        <label for="newTask.description">Description</label>
        <input type="text" class="form-control" name="newTask.description" [(ngModel)]="newTask.description">

        <div class="form-group">
            <label class="h6">Completed: </label>
            <label for="complete">True</label>
            <input type="radio" name="complete" value="true" id="">
            <label  class="ml-3" for="complete">False</label> 
            <input type="radio" name="complete" value="false" id="" checked>
          </div>

        <button class="btn btn-primary" type="submit">Create</button>
      </form>
    </div>
    <div  *ngIf="oneTask" class="col">
      <h2>Edit Task</h2>
      <form class="text-left" (submit)="onSubmitUpdate()">
        <label for="oneTask.title">Title</label>
        <input type="text" class="form-control" name="oneTask.title" [(ngModel)]="oneTask.title">

        <label for="oneTask.description">Description</label>
        <input type="text" class="form-control" name="oneTask.description" [(ngModel)]="oneTask.description">
        <div class="form-group">
          <label class="h6">Completed: </label>
          <label for="complete">True</label>
          <input type="radio" name="complete" [(ngModel)]="oneTask.complete" value="true" id="">
          <label  class="ml-3" for="complete">False</label> 
          <input type="radio" name="complete" [(ngModel)]="oneTask.complete" value="false" id="" checked>
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
      </form>
    </div>
  </div>

</div>