<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Secrets</title>
</head>
<body>
    <nav class="text-right"><a class="ml-auto d-inline-block" href="/logout">Logout</a></nav>
    <div class="container">
        <h1>Secrets</h1>
        <form action="/secrets/new" class="mt-5" method="post">
            <% if(messages.secret) { %>
                <% for (var x of messages.secret) { %>
                <h5 class="text-danger"><%= x %></h5>
                <% } %>
            <% } %>
            <div class="form-group">
                <input id="secret" class="form-control" name="content" placeholder="Your secret here" type="text">
            </div>
            <button type="submit"class="btn btn-warning">Shhhh..</button>
        </form>
        <h2>All Secrets</h2>
        <% for(let secret of secrets) { %>
            <p>
                <a href="/secrets/<%= secret._id %>"><%= secret.content %></a>
                <% if(JSON.stringify(secret.user) === `"${sess.user_id}"`) { %>
                    <a href="/secret/destroy/<%= secret._id %>" class="btn btn-sm ml-3 btn-danger">Delete</a>
                <% } %>
            </p>
        <% } %>
    </div>
</body>
</html>