<div class="container">
  <h1>Rate My Cakes</h1>
  <div class="row">
    <div class="col">
      <form (submit)="createCake()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" class="form-control" name="cakeForm.name" [(ngModel)]="cakeForm.name" type="text">
        </div>
        .<div class="form-group">
          <label for="image">Image Url</label>
          <input id="image" class="form-control" name="cakeForm.cakeUrl" [(ngModel)]="cakeForm.cakeUrl" type="text">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="col">
      <div class="h-100 pre-scrollable">
        <div *ngFor="let cake of allCakes" class="row">
          <div class="col">
            <img (click)="getOneCake(cake._id)" [src]="cake.cakeUrl" class="img-thumbnail" alt="delicious cake">
          </div>
          <div class="col">
            <form (submit)="rateCake(cake._id)">
              <div class="form-group">
                <label for="score">Rating</label>
                <input id="score" class="form-control" [(ngModel)]="updateRating.score" name="updateRating.score" type="number" max="5" min="1">
              </div>
              <input type="text" placeholder="Your comment here" [(ngModel)]="updateRating.comment" name="updateRating.comment">
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-cake *ngIf="oneCake" [showCake]="oneCake"></app-cake>
</div>  <!-- container -->
